uvicorn ~= 0.11.3
fastapi ~= 0.68.0
python-multipart ~= 0.0.5
pydantic ~= 1.8.1
Jinja2 ~= 3.0.1
SQLAlchemy ~= 1.4.3
alembic ~= 1.6.5
tenacity ~= 8.0.1
httpx ~= 0.18.1
passlib >= 1.7.2
python-jose >= 3.3.0
psycopg2-binary >= 2.9.3
gunicorn >= 20.1.0